@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100;200;300;400;500;600;700;750;800;900&display=swap");

*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #444;
}

body {
  --transition-delay: 400ms;
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button,
.btn {
  --accent-color: #0082d1;
  --btn-width: clamp(140px, 25%, 200px);
  --btn-height: 60px;
  position: relative;
  overflow: hidden;
  width: var(--btn-width);
  height: var(--btn-height);
  margin: 1rem;
  text-align: center;
  background: none;
  border: none;
  border-radius: 2px;
  box-shadow: rgba(0, 130, 209, 0.5) 0px 1px 2px 0px;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 500;
}

button,
button::after,
button::before {
  transition: all var(--transition-delay);
}

.underline::before {
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(0);
}

.underline:hover::before {
  transform: scale(1);
}

.box {
  background-color: rgba(0, 130, 209, 0);
}

.box:hover {
  background-color: rgba(0, 130, 209, 1);
  color: white;
}

.eclipse {
  overflow: hidden;
}

.eclipse:hover {
  color: white;
}

.eclipse::before {
  content: "";
  overflow: hidden;
  background-color: var(--accent-color);
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 50%;
  transform: scale(0);
}

.eclipse:hover::before {
  transform: scale(2);
  opacity: 1;
  color: white;
}

.slide:hover {
  color: white;
}

.slide::before {
  content: "";
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transform-origin: left;
}

.slide:hover::before {
  width: 100%;
  color: white;
}

.border {
  transition-timing-function: ease-in-out;
  outline: 2px solid transparent;
  outline-offset: 5px;
}

.border:hover {
  outline: 2px solid var(--accent-color);
  outline-offset: 0;
  color: var(--accent-color);
}

.slide-2,
.slide-2::after,
.slide-2::before {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-2:hover::before {
  width: 72%;
}

.slide-2:hover::after {
  width: 28%;
  opacity: 1;
}

.slide-2::before {
  content: attr(data-btn-name);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: left;
}

.slide-2::after {
  content: url("https://img.icons8.com/android/20/ffffff/sci-fi.png");
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 0%;
  opacity: 0;
  fill: white;
  color: white;
  background-color: var(--accent-color);
  transform-origin: right;
}

.lift:hover {
  color: var(--accent-color);
  box-shadow: rgba(0, 130, 209, 0.8) 0px 1px 5px 0px;
  transform: translateY(-0.2em);
}

.border-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-2::before,
.border-2::after {
  content: "";
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.border-2::before {
  transform: scaleX(0);
  transform-origin: 0 0;
  border-left: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
}

.border-2::after {
  transform: scaleY(0);
  transform-origin: 100% 100%;
  border-right: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.border-2:hover {
  color: var(--accent-color);
}

.border-2:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.border-2:hover::after {
  opacity: 1;
  transform: scaleY(1);
}

.description {
  overflow: visible;
}

.description::before {
  content: "Description";
  position: absolute;
  top: -20px;
  left: 50%;
  color: white;
  font-size: small;
  background-color: var(--accent-color);
  padding: 10px;
  border-radius: 3px;
  transform-origin: bottom center;
  opacity: 0;
  transform: translateX(-50%) scale(0);
}

.description:hover::before {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
